[Unit]
Description=Telegram Geo Invite Bot

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/home/azureuser/tlgeoinvitebot/run_dev.sh
WorkingDirectory=/home/azureuser/tlgeoinvitebot

[Install]
WantedBy=default.target