[Unit]
Description=Telegram Geo Invite Bot

[Service]
Type=simple
Restart=on-failure
RestartSec=5

WorkingDirectory=/home/azureuser/tlgeoinvitebot
ExecStart=sudo /bin/bash run_prod.sh

[Install]
WantedBy=default.target